*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(63, 63, 63);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.15em;
  color: #c0c5c9;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1400px;
  /* background-color: rgb(107, 104, 104); */
  margin: auto;
}

header {
  height: 400px;
  padding-top: 50px;
  display: flex;
}

.avatar {
  height: 250px;
  margin-left: auto;
  border-radius: 20px;
}

.left-side {
  width: 40%;
  padding: 20px;
  text-align: right;
}

.right-side {
  width: 60%;
  padding: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h1 > span,
li > span {
  color: #e6b121;
}

.profession {
}

section {
  display: flex;
}
